[Dataset]
The file contains 40,067 text excerpts and a total of 277,524 assigned labels (version 2023.01)
https://zenodo.org/record/7540165#.ZAI9UuzML0p
 

[Source Data]
The dataset consists of paragraph-length text excerpts derived from publicly available documents, including reports, policy documents and publication abstracts. A significant number of documents (more than 3,000) originate from UN-related sources such as SDG-Pathfinder and SDG Library. These sources often contain documents that already have SDG labels associated with them. Each text is comprised of 3 to 6 sentences and is about 90 words on average.\

[Column Description]
doi - Digital Object Identifier of the original document
text_id - unique text identifier
text - text excerpt from the document
sdg - the SDG the text is validated against
labels_negative - the number of volunteers who rejected the suggested SDG label
labels_positive - the number of volunteers who accepted the suggested SDG label
agreement - agreement score based on the formula:
agreement = |labelspositive âˆ’ labelsnegative| / (labelspositive + labelsnegative)

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('https://zenodo.org/record/5550238/files/osdg-community-dataset-v21-09-30.csv?download=1', sep='\t')

In [3]:
df.head()

,doi,text_id,text,sdg,labels_negative,labels_positive,agreement
0,10.6027/9789289342698-7-en,00021941702cd84171ff33962197ca1f,"From a gender perspective, Paulgaard points ou...",5,1,7,0.750000
1,10.18356/eca72908-en,00028349a7f9b2485ff344ae44ccfd6b,Labour legislation regulates maximum working h...,11,2,1,0.333333
2,10.1787/9789264289062-4-en,0004eb64f96e1620cd852603d9cbe4d4,The average figure also masks large difference...,3,1,6,0.714286
3,10.1787/5k9b7bn5qzvd-en,0006a887475ccfa5a7f5f51d4ac83d02,The extent to which they are akin to corruptio...,3,1,2,0.333333
4,10.1787/9789264258211-6-en,0006d6e7593776abbdf4a6f985ea6d95,A region reporting a higher rate will not earn...,3,2,2,0.000000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32120 entries, 0 to 32119
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   doi              32120 non-null  object
 1   text_id          32120 non-null  object
 2   text             32120 non-null  object
 3   sdg              32120 non-null  int64
 4   labels_negative  32120 non-null  int64
 5   labels_positive  32120 non-null  int64
 6   agreement        32120 non-null  float64
dtypes: float64(1), int64(3), object(3)
memory usage: 1.7+ MB

In [5]:
df.iloc[0][2]

'From a gender perspective, Paulgaard points out that the labour markets of the fishing villages have been highly gender-segregated in terms of the existence of "male jobs" and "female jobs"; however, the new business opportunities have led to the male population of the peripheral areas now working in the service industry in former "female jobs": "That boys and girls are doing the same jobs indicates change, because traditional boundaries between women and men\'s work are being crossed. But the fact that young people are still working represents continuity with the past" (Paulgaard 2002: 102). When Paulgaard refers to continuity with traditions, she refers to the expectations of young adults to participate in adult culture, thus these fishing villages traditionally have no actual youth culture. As described earlier, Paulgaard (2015) concludes that in some of Norway\'s peripheral areas school is still \'foreign\', a time waster stealing time from young adults who should instead spend their time on what is considered to be "real" work.'

In [6]:
# select confident instances (based on agreement score) to train the model
selected = df[df['agreement'] >= 0.6]

In [7]:
selected.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18945 entries, 0 to 32119
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   doi              18945 non-null  object
 1   text_id          18945 non-null  object
 2   text             18945 non-null  object
 3   sdg              18945 non-null  int64
 4   labels_negative  18945 non-null  int64
 5   labels_positive  18945 non-null  int64
 6   agreement        18945 non-null  float64
dtypes: float64(1), int64(3), object(3)
memory usage: 1.2+ MB

In [12]:
selected.groupby('sdg').count()

      doi  text_id  text  labels_negative  labels_positive  agreement
sdg
1    1310     1310  1310             1310             1310       1310
2    1034     1034  1034             1034             1034       1034
3    1923     1923  1923             1923             1923       1923
4    2496     2496  2496             2496             2496       2496
5    2708     2708  2708             2708             2708       2708
6    1549     1549  1549             1549             1549       1549
7    1751     1751  1751             1751             1751       1751
8     886      886   886              886              886        886
9     698      698   698              698              698        698
10    478      478   478              478              478        478
11   1309     1309  1309             1309             1309       1309
12    255      255   255              255              255        255
13   1216     1216  1216             1216             1216       1216
14    759      759   759              759              759        759
15    573      573   573              573              573        573

# Motivation
Track the progress of researching in SDGs

# Literature Review
Related to text feature engineering (WoB, TFIDF, etc.)
Related to SDG monitoring
Releated to multiclass classification ML algorithms(k-NearestNeighbors, DecisionTrees, NaiveBayes, RandomForest, etc.)

# Methodology
Extract significant features from 'text',
Feed to different ML models,
Compare model performance.

# Deliverables
Models, Report, (optional Classifier API)

# Relevance to the course
Models are taught in course

# Technical Difficulty
Have to learn text feature engineering methods by ourselves.
(Optional learn to build a classifier API)

# Novelty
Data very up-to-date (2023.01.01)
Monitor the performance of all SDGs

# Impact
1. High level: Generate insights about researchers' attentions to different SDG topics, help UN  allocate resources to different SDG topics, especially the slow-developing ones
2. Individual: Help researchers efficiently identify research papers and documents to the SDG topics they interst in